#homepage-image 
{
    max-width: 500px;
}

.music-divider
{
    width: 100%; 
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: hidden;
}

.music-divider img
{
    width: 150%;
}

h3
{
    /* TODO */
}

.third
{
    width: 33%;
}

.jumbotron
{
    padding: 0;
}

.jumbotron *
{
    margin-bottom: 35px;
}

@media (max-width: 800px)
{
    .responsive-wrap-800
    {
        flex-direction: column;
    }
    .responsive-wrap-800 .card
    {
        width: 100%;
    }
}