/* Homepage cards */
@media only screen and (max-width: 480px) 
{
    a:not(:last-child)
    {
        margin-bottom: 5px;
    }
}

.imagecards
{
    display: flex; 
    justify-content: space-around; 
    gap: 10px;
}

.card img
{
    max-height: 300px;
    height: auto;
    width: auto;
}

.card .jumbotron
{
    padding: 5px;
}

.card
{        
    width: auto;   
}

.addBottomPadding
{
    padding-bottom: 50px;
}

.fillContainer
{
    flex-grow: 1;
    max-height: 300px;
}

@media (max-width: 770px) 
{
    .imagecards
    {
        display: flex; 
        justify-content: space-around; 
        flex-wrap: wrap-reverse;
        gap: 0;
    }
    .override-reverse-wrap
    {
        flex-wrap: wrap;
    }
    .override-reverse-wrap .alignRight
    {
        text-align: left;
        margin-left: none;
    }
    .card img
    {
        max-height: none;
        height: fit-content;
    }
}