.year-selected a
{
    background-color: goldenrod;
}

.page-item a:hover
{
    background-color: #F2DDA6;
    cursor: pointer;
}

.year-selected a:hover
{
    background-color: goldenrod;
}

.song-grid
{
    display: flex;
}

.song-grid div
{
  flex-grow: 1;
}



iframe{
    width: 100%;
    height: auto;
}

#staging-area
{
    margin-bottom: 40px;
}

.bottom-padding
{
    margin-bottom: 20px;
}

.collapse-1
{
    display: none;
}