* {
    font-family: Tahoma, sans-serif;
}

h1 {
    padding-top: 30px;
    padding-bottom: 15px;
    font-size: larger;
    word-wrap: break-word;
}

main {
    background-color: lightgray;
}

.alignRight
{
    margin-left: auto;
}

/* navbar */
#navbarIcon
{
    height: 80px;
    padding-right: 20px;
}

.break
{
    flex-basis: 100%;
    height: 0;
}