* {
    font-family: Tahoma, sans-serif;
}

/* Mobile Styles */
@media only screen and (max-width: 500px) {
    .reactiveCenter {
      margin-left: auto;
      margin-right: auto;
    }
    h1
    {
        text-align: center;
    }
    .navbar-brand
    {
        align-self: center;
        margin-right: 0;
    }

}

main {
    background-color: white;
    flex: 1;
}

body {
    background-color: white;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/* General styles */
.alignRight
{
    margin-left: auto;
}

.jumbotron
{
    background-color: white;
    margin-bottom: 0px;
}

.center
{
    margin-left: auto;
    margin-right: auto;
}

.limitWidth
{
    max-width: 90%;
}

.stretch
{
    align-items: stretch;
}

.matchPrevSibling
{
    height: 100%;
}

.addBottomPadding
{
    padding-bottom: 50px;
}

/* navbar */
nav
{
    background-color: #e3f2fd;
}

#navbarIcon
{
    height: 80px;
    padding-right: 20px;
}
@media only screen and (max-width: 500px) 
{
    #navbarIcon {padding-right: none;}
}

.break
{
    flex-basis: 100%;
    height: 0;
}

.invisLink:hover
{
    text-decoration:none;
}

h1 {
    padding-top: 30px;
    padding-bottom: 15px;
    font-size: larger;
    word-wrap: break-word;
}

.nav-item
{
    font-size: large;
    padding-right: 10px;
    text-align: right;
}

.navbar-brand
{
    display: flex;
    max-width: fit-content;
    overflow-wrap: break-word;
    flex-wrap: wrap;
}

/* footer */
footer
{
    padding: 10px;
    background-color: #333;
    color: #f8f4f4;
    bottom: 0;
    margin-bottom: 0px;
    font-size: 0.7em;
    margin-top: auto;
}

footer img
{
    height: 40px;
    padding-bottom: 10px;
    padding-right: 5px;
}

/* Form */
form
{
    padding: 20px;
}

#formContainer
{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}